@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.traditions-section {
  padding-top: 96px;
}
@media screen and (max-width: 1280px) {
  .traditions-section {
    padding-top: 40px;
  }
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-text .span-uppercase {
  text-transform: uppercase;
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text span {
  color: var(--color-brand-normal);
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-img {
  display: block;
  border-radius: 400px 400px 0px 0px;
}
@media screen and (max-width: 1280px) {
  .traditions-img {
    display: none;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header-menu {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }
}

.header_section_button {
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .header_section_button {
    display: none;
  }
}

.main-section {
  padding: 124px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/image1559.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-attachment: fixed; */
}
@media screen and (min-width: 1280px) {
  .main-section {
    padding: 272px 0;
  }
}

.main-title {
  margin-bottom: 48px;
  color: var(--color-primary-light);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
  line-height: 1;
}
@media screen and (max-width: 1280px) {
  .main-title {
    margin-bottom: 0;
    font-size: 67px;
    line-height: 1.5;
  }
}

.main-title .accent {
  color: var(--color-brand-normal);
}

.advantages-section {
  padding: 16px 0;
}
@media screen and (min-width: 1280px) {
  .advantages-section {
    background-color: var(--color-brand-normal);
    display: flex;
    align-items: center;
    height: 62px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 40px;
  background-color: var(--color-brand-light);
  border-radius: 24px;
}
@media screen and (min-width: 1280px) {
  .advantages-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-item {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 1280px) {
  .advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
  }
}

.button {
  display: block;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  width: 238px;
  height: 59px;
}

.button:hover {
  color: var(--color-brand-normal-dark);
  background-color: transparent;
  border-color: currentColor;
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
}

.header_button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
@media screen and (max-width: 1280px) {
  .header_button {
    display: none;
  }
}

.header-burger-button {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  fill: var(--color-primary-light);
}
@media screen and (min-width: 1280px) {
  .header-burger-button {
    display: none;
  }
}

.section {
  padding: 48px 0;
}
@media screen and (max-width: 1280px) {
  .section {
    padding: 20px 0;
  }
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (max-width: 1280px) {
  .section-title {
    font-size: 32px;
    line-height: 1.3;
  }
}

.section-title.centered {
  text-align: center;
}

.link {
  color: var(--color-primary-light);
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.4s;
}

.link:hover {
  color: var(--color-brand-normal);
}

.links {
  color: var(--color-primary-dark);
  font-weight: 300;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.4s;
  margin-bottom: 16px;
}

.links:hover {
  color: var(--color-brand-normal);
}

.chefs-title .accent {
  color: var(--color-brand-normal);
}

.chef-photo {
  width: 140px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 1px var(--color-secondary-dark);
}
@media screen and (min-width: 1280px) {
  .chef-photo {
    width: 240px;
  }
}

.chef-title {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  margin: 0 auto 24px;
}
@media screen and (min-width: 1280px) {
  .chef-title {
    margin-bottom: 80px;
    font-weight: 900;
    font-size: 40px;
  }
}

.chefs-title {
  position: relative;
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  display: none;
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}
@media screen and (min-width: 1280px) {
  .chefs-title::before,
  .chefs-title::after {
    display: block;
  }
}

.chefs-title::before {
  /* position: absolute; */
  left: -352px;
  /* bottom: 24px; */
}

.chefs-title::after {
  /* position: absolute; */
  right: -352px;
  /* bottom: 24px; */
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .chefs-list {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .chefs-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
@media screen and (min-width: 1280px) {
  .chef-card {
    gap: 30px;
  }
}

.chef-text p {
  margin-bottom: 24px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .chef-text p {
    font-size: 18px;
  }
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.formats-slider {
  display: flex;
  gap: 32px;
  align-items: center;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  display: block;
  height: 110px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.format-text p {
  margin: 0;
  padding: 0;
}

.formats-item {
  position: relative;
  right: 40px;
}

.format-card {
  position: relative;
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.format-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.formats-container {
  overflow: hidden;
}

.formats-list {
  margin-bottom: 32px;
}

.carousel-button.format-button {
  display: none;
}
@media screen and (min-width: 1280px) {
  .carousel-button.format-button {
    display: flex;
  }
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1280px) {
  .contact-container {
    flex-direction: row;
    gap: 32px;
  }
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  width: 100%;
  height: 176px;
}
@media screen and (min-width: 1280px) {
  .contact-map {
    margin: auto;
    width: 600px;
    height: 595px;
  }
}

.contact-section {
  padding-bottom: 96px;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 16px;
}

.adress-link:hover {
  color: var(--color-brand-normal);
}

.adress-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}

.footer {
  position: relative;
  background-image: url(/images/footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.adress-icon {
  fill: var(--color-primary-light);
}

.adress-icon:hover {
  fill: var(--color-brand-normal);
}

.footer-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-nav,
.footer-adress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .footer-nav,
  .footer-adress {
    flex-direction: row;
    flex-basis: 50%;
    text-align: left;
  }
}

.adress-info,
.adress-list {
  flex-grow: 1;
}

.footer-menu,
.adress-list {
  margin: 0;
  padding-left: 0;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-menu {
  padding-top: -40px;
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url(/images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 180px;
  right: 0;
  background-image: url(/images/decor-bread-large.png);
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}

.footer-link {
  margin-bottom: 16px;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}

/* .form-field:focus-within .form-label {
    transform: translate(-36px, -40px);
} */
.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::-moz-placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  min-width: 210px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

.checkbox {
  position: relative;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-secondary-dark);
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #465929;
  border-radius: 5px;
  content: "";
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-normal-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.6s;
  z-index: 2;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
}

.logo2 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 107px;
  height: 45px;
}

.ululu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  top: 100px;
  left: 24px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--color-brand-normal-dark);
  border-radius: 50%;
}
.pagination-button--active {
  background-color: var(--color-brand-normal);
}/*# sourceMappingURL=main.css.map */