.contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 32px;
  }
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  // margin: 0 -24px;
  width: 100%;
  height: 176px;

  // @media screen and (min-width: 820px) {
  //   margin: auto;
  //   width: 320px;
  //   height: 500px;
  // }

  @media screen and (min-width: 1280px) {
    margin: auto;
    width: 600px;
    height: 595px;
  }
}

.contact-section {
  padding-bottom: 96px;
}
