.formats-slider {
  display: flex;
  gap: 32px;
  align-items: center;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

// .formats-item {
//   flex-basis: calc((100% - 40px) / 3);
// }
.formats-item {
  position: relative;
  right: 40px;
}

.format-card {
  position: relative;
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  // transition: transform 0.3s;

  // @media screen and (min-width: 1280px) {
  //   flex-direction: column;
  // }
}

// .format-card:hover {
//   transform: scale(1.05);
// }

// .formats-list {
//   display: flex;
//   gap: 20px;
//   flex-wrap: nowrap;
// }

.format-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.formats-container {
  overflow: hidden;
}

.formats-list {
  margin-bottom: 32px;
}

.carousel-button.format-button {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
