.traditions-section {
  padding-top: 96px;

  @media screen and (max-width: 1280px) {
    padding-top: 40px;
  }
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-text .span-uppercase {
  text-transform: uppercase;
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text span {
  color: var(--color-brand-normal);
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-img {
  display: block;
  border-radius: 400px 400px 0px 0px;

  @media screen and (max-width: 1280px) {
    display: none;
  }
}
